nmap g] :action GotoImplementation<CR>
nmap gd :action GotoDeclaration<CR>
nmap gD :action GotoTypeDeclaration<CR>
nmap gi :action GotoImplementation<CR>
nmap gu :action GotoSuperMethod<CR>
nmap gt :action GotoTest<CR>
nmap gb :action Back<CR>
nmap gf :action Forward<CR>

nmap <leader>e :action RecentFiles<CR>
nmap <leader>E :action RecentLocations<CR>
nmap <leader>o :action GotoClass<CR>
nmap <leader>O :action GotoFile<CR>
nmap <leader>s :action GotoSymbol<CR>
nmap <leader>a :action GotoAction<CR>

nmap [e :action GotoPreviousError<CR>
nmap ]e :action GotoNextError<CR>
nmap [m :action MethodUp<CR>
nmap ]m :action MethodDown<CR>

" Set leader key to space
let mapleader = " "

" Open file explorer (Ex command) - IdeaVim specific
nnoremap <leader>pv :action ActivateProjectToolWindow<CR>
" Alternative if you want the vim-style explorer:
" nnoremap <leader>pv :Ex<CR>

" Move selected lines down/up in visual mode
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Center screen after half-page jumps
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Center screen after search navigation
nnoremap n nzzzv
nnoremap N Nzzzv

" Paste without yanking (delete to black hole register then paste)
xnoremap <leader>p "_dP

" Copy to system clipboard
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y

" Search and replace word under cursor
nnoremap <leader>s :%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>

